body{
  margin: 0;
  font-weight: 300;
  font-family: 'Press Start 2P', cursive;
}

html{
  font-size: 16px;
}

h1{
  text-align: center;
}

/* Search-box*/
.search-box-wrapper{
display: inline-flex;
font-size: 12px;
margin-left: 850px;
top:100px;
float: right;
margin-top: -1.8em;
padding-right: 80px;

}

.search-box-input{
font-size: inherit;
border: 0.2em solid black;
border-radius: 0.2em 0 0 0.2em;
padding: 0.2em 0.5em;
outline: 0;
float:right;
}

.search-box-input:hover
.search-box-input:focus{
  border-color: black;

}
.search-box-button{
  font-size: inherit;
  border: 0.2em solid black;
  border-radius: 0 0.5em 0.5em 0;
  background-color: lightblue;
  border-left: 0;
  padding: 0 0.75em;
  outline: 0;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}
.search-box-button:hover
.search-box-button:focus{
  border-color: black;
}

/* Header Container*/
.container{
width: 80%;
margin: 0 auto;
}
header{
  background: linear-gradient(to right, white, rgb(235, 33, 33));
}

header::after{
  content: '';
  display: table;
  clear: both;

}
.logo{
  float: left;
  height: auto;
  max-height: 75px;
  max-width: 100%;
  width: auto;
  padding: 10px, 0;

}
nav{
  float:right;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 25px;
}
nav li{
  display: inline-block;
  margin-left: -130px;
  padding-top: 29px;
  padding-right: 220px;
  /* pseudo block level element */
  position: relative;
}
nav a{
  color: black;
  text-decoration-line: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover{
  color: white;
}

nav::a:before{
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: lightblue;
}



.pkmnimg{
display: block;
margin-left: auto;
margin-right: auto;
height: 15%;
width: 15%;
}

p#pkmnNm{
  display:block;
  margin-left: auto;
  margin-right:auto;
}
.test{
  display:flex;
  align-items: center;
  justify-content: center;
}
.test img{
  float: center;
  width: 220px;
  height: 220px;
}


/* ---- Shake Hover ----
Used W3 Schools "How to shake an image" */
.test img:hover{
  animation: shake 0.5s; 
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
*/




/* ----------------- Table ----------------- */
/* Used W3 Schools "HTML Table"
https://www.w3schools.com/html/html_tables.asp */
table {
  /* font-family: arial, sans-serif; */

  border-collapse: collapse;
  width: 100%;
  align-self: center;
  padding-right: 500px;
  background-color: red;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

td, th {
  border: 3px solid #111010;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: grey;
}

th{
  background-color: rgb(194, 45, 45);
}


/* ---- Media Query ---- */
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}